@import "bootstrapextention.scss";

body, html,#root {
    height: 100% !important;
    padding: 0% !important;
    background-color: rgb(245, 245, 245) !important;
}
.team{
    width: 200px !important;
    height: 200px !important;
}

.divider{
    width: 1px !important;
}

.newsimage{
    width: 300px;
}