
.captainProfile{
   width: 150px !important;
   transition: transform .2s !important;
}

.profile{
   width: 40px !important;

}

.logoApp{
   width: 200px !important;
   height: 200px !important;
   background-color: transparent !important;
   color: whitesmoke !important;
   transition: transform .2s !important;
}


body{
   background-color: rgb(6, 55, 75) !important;
} 

.title{
   background-color: transparent !important;
   color: whitesmoke !important;
}

#about-card{
   transition: transform .2s !important;
}

.logoApp:hover{
   transform: scale(1.25) !important;
}

#about-card:hover{
   transform: scale(1.25) !important;
}

.captainProfile:hover{
   transform: scale(1.25) !important;
}

#individual{
   transition: transform .2s !important;
   background-color:rgb(9, 54, 90);
   color: whitesmoke;
}

#individual:hover{
   transform: scale(1.25) !important;
}

#profile-1-card{
   background-color: transparent !important;
   color: whitesmoke !important;
}

.team-button{
   background-color: rgb(3, 40, 56) !important;

}

.team-button:hover{
   background-color: rgb(49, 137, 175) !important;
}

.team-button:visited{
   background-color: black;
}

.images{
   width: 100px !important;
}

.headImage{
   width: 150px !important;
}