.captainProfile{
   width: 150px !important;
   transition: transform .2s !important;
   font-family: 'Courier New', Courier, monospace;
}

.meetTeam{
   width: 160px !important;
   transition: transform .2s !important;
   font-family: 'Courier New', Courier, monospace;
}

.profile{
   font-family: 'Courier New', Courier, monospace;
}

.logoApp{
   width: 250px !important;
   height: 250px !important;
   background-color: transparent !important;
   color: white !important;
   transition: transform .2s !important;
}

@media (max-width: 997px){
   #about-card{
      margin-top: 60px !important;
   }
   #aboutNew{
      width: 100% !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
   }
   #logoNew{
      display: block !important;
      margin: 0 auto !important;
   }
}

body{
   background-color: rgb(6, 55, 75) !important;
} 

.title{
   background-color: transparent !important;
   color: white !important;
}

#about-card{
   transition: transform .2s !important;
}

.logoApp:hover{
   transform: scale(1.25) !important;
}

#about-card:hover{
   transform: scale(1.25) !important;
}

.captainProfile:hover{
   transform: scale(1.25) !important;
}

.meetTeam:hover{
   transform: scale(1.25) !important;
}

#individual{
   transition: transform .2s !important;
   background-color:transparent !important;
   color: white;
}

#individual:hover{
   transform: scale(1.25) !important;
}

#profile-1-card{
   background-color: transparent !important;
   color: white !important;
}

.team-button{
   background-color: rgb(3, 40, 56) !important;

}

.team-button:hover{
   background-color: rgb(49, 137, 175) !important;
}

.team-button:visited{
   background-color: black !important;
}

.images{
   width: 100px !important;
}

.headImage{
   width: 150px !important;
}

#aboutPart{
   text-align: justify !important;
   font-family: 'Courier New', Courier, monospace;
}

#aboutTitle{
   font-size: 30px !important;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

#appName{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   font-size: 30px !important;
}