<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/main.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/register-styles.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
  
  
      <div>
        <img src="/pmlogo.jpg" id="icon" alt="User Icon" />
      </div>
        <form id="registration-form" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
            <label for="first-name" class="sr-only">First Name</label>
            <input type="text" id="first-name" class="text" placeholder="Enter First Name" required>

            <label for="last-name" class="sr-only">Last Name</label>
            <input type="text" id= "last-name" class="text" placeholder="Enter Last Name" required>
                        
            <div id="name-error" hidden><small style="color:Red">First and last name may only contain letters</small></div>

            <label for="email" class="sr-only">Email</label>
            <input type="text" id="email" class="text" placeholder="Enter Email" required>
                        
            <div id="email-error" hidden><small style="color:Red">Please enter a valid email</small></div>

            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="text" placeholder="Enter Username" required>
                        
            <div id="username-error" hidden><small style="color:Red">That username is taken</small></div>

            <label for="password" class="sr-only">Password</label>
            <input id="password" class="text" type="password" placeholder="Enter Password" required>
                        
            <div id="password-error" hidden><small style="color:Red">Password must be at least 8 characters, and contain at least one special charcter</small></div>

            <label for="repeat-password" class="sr-only">Repeat Password</label>
            <input id="repeat-password" class="text" type="password" placeholder="Enter Password Again" required>

                
            <div id="retype-password-error" hidden><small style="color:Red">Passwords did not match</small></div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
            <div id="create-msg" hidden></div>
        </form>
        <div id="formFooter">
            Already have an account? <a class="underlineHover" href="#/login">Log In</a>
          </div>
    </div>
</div>