/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474C55;
}

form {
    display: block;
    position: relative;
    border-style: solid;
    border-color: #F26925;
    border-width: 4px;
}

form .form-inner{
    position: relative;
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 70px;
}

form{
    border-radius: 10px;
}
.aroundLogo{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.form-inner{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-image: linear-gradient(white, rgb(67, 67, 67));
}

form .form-inner h4 {
    color: rgb(90, 89, 89);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0px;
}

form .form-inner .form-group{
    width: 300px;
    margin-bottom: 10px;
}

.form-inner .form-group label {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
}

form .submitButton {
    padding: 10px 50px;
    border-radius: 8px;
    background-color: #F26925;
    color: #FFF;
    font-weight: 600;
} */

/* form h6 {
    font-size: 0.75em;
} */

.logo {
    max-width: 50%;
    height: auto;
    /* padding-bottom: 0px; */
}

/* .aroundLogo {
    position: relative;
    background-color: #fff;
    padding-top: 40px;
} */

.loginInput {
    text-align: center;
}