@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
:root {
  --dark-cosmos-color: rgb(31, 17, 34);


  /* The poster Illustration colors */
  --poster: rgb(224, 198, 178);
  --poster-border: min(3vmax, 50px);


  --mq-small: 650px;
  --mq-medium: 850px;
  --mq-vert-small: 650px;
}

/* .news__card-body {
    position: relative;
    z-index: 100;
    border: var(--poster-border) solid;
    display: flex;
    flex-flow: column;
    justify-content: center;
} */
@media (min-width: var(--mq-small)) {
    .news__card-body {
        height: 50vh;
        width: 50%;
   }
}
@media (min-width: var(--mq-medium)) {
    .news__card-body {
        height: 65vh;
        width: 50%;
        max-width: 600px;
        margin-top: 0;
   }
}
@media (min-width: var(--mq-small)) and (max-height: var(--mq-small)) {
    .news__card-body {
        --poster-border: 30px;
        border: var(--poster-border) solid;
        border-top: 8px solid;
        height: 80vh;
        width: 80vw;
   }
}


.news__card-heading, .news__card-explanation {
    background: var(--poster);
    box-shadow: 0 0 0px 1px var(--poster);
}


.smallnumber {
    font-size: 0.8em;
    text-align: right;
    position: relative;
    top: calc(0px - var(--poster-border) + 25px);
    right: calc(0px - var(--poster-border) + 15px);
}
@media (min-width: var(--mq-small)) {
    .smallnumber {
        font-size: 1em;
        top: calc(0px - var(--poster-border) + 20px);
        right: calc(0px - var(--poster-border) + 10px);
   }
}
@media (min-width: var(--mq-medium)) {
    .smallnumber {
        font-size: 1.3em;
        top: calc(0px - var(--poster-border) + 30px);
        right: calc(0px - var(--poster-border) + 20px);
   }
}
@media (min-width: var(--mq-small)) and (max-height: var(--mq-small)) {
    .smallnumber {
        font-size: 1em;
        top: 7px;
        right: calc(0px - var(--poster-border) + 10px);
   }
}


/* h1, */
.smallnumber {
  font-family: "Archivo Black", sans-serif;
  margin: 0;
}

.news_header-one {
    font-size: clamp(1.8em, 3vw, 3.2em);
    letter-spacing: -0.03em;
    margin-bottom: 0;
    margin-top: -0.3em;
    position: relative;
    bottom: -0.22em;
}
@media (min-width: var(--mq-small)) {
    .news_header-one {
        bottom: -0.2em;
   }
}
@media (min-width: var(--mq-small)) and (max-height: var(--mq-small)) {
    .news_header-one {
        font-size: clamp(1.5em, 8vw, 2em);
   }
}


/* Explanation */
.news-card-explanation {
    padding: 3vh 0;
    font-size: 1em;
    line-height: 1.3;
    border-bottom: 3px solid var(--dark-cosmos-color);
    position: relative;
}
@media (min-width: var(--mq-medium)) {
    .news-card-explanation {
        font-size: 1.1em;
        line-height: 1.4;
        padding: 3vh 0;
        margin-bottom: -0.9em;
        border-bottom: 6px solid var(--dark-cosmos-color);
   }
    .news-card-explanation:before {
        content: "";
        position: absolute;
        top: -6vh;
        left: -1.2vh;
        width: 2vh;
        height: 5vh;
        background-repeat: no-repeat;
        background-size: 100%;
   }
    .news-card-explanation:before {
        top: -8vw;
        left: -1.3vw;
        width: 2.5vw;
        height: 16vw;
   }
}
@media (min-width: var(--mq-small)) and (max-height: var(--mq-small)) {
    .news-card-explanation {
        font-size: 1em;
        border-bottom: 2px solid var(--dark-cosmos-color);
   }
    .news-card-explanation:before {
        background: none;
   }
}


/* 
Hero Section CSS 
file created by carlos galvan jr
*/
.news__hero-section {
  color: #fff;
  padding: 160px 0;
  min-height: 100vh;
}

.news__hero-row {
  align-items: center;
}

.news_row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.news_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.news__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  /* color: #f00946; */
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #1c2237;
}

.news__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.news__hero-img-wrapper {
  max-width: 555px;
}

.news__hero-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .news__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
