<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/main.css" rel="stylesheet" id="main-css">
<link href="/css/new-transaction-styles.css" rel="stylesheet" id="nt-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <div>
        <img src="/pmlogo.jpg" id="icon" alt="User Icon" />
      </div>
        <form id="new-txn-form" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Add Transaction</h1>

            <!-- <div class="buy-sell"> -->
              <!-- <ul class="buy-sell-container">
                <li>
                  <input type="radio" id="buy-btn" name="txn-type" />
                  <label for="buy" class="buy-sell-container">Buy</label>
                </li>
                <li>
                  <input type="radio" id="sell-btn" name="txn-type" />
                  <label for="sell" class="buy-sell-container">Sell</label>
                </li>
              </ul> -->
            <!-- </div> -->

            <label for="buy-btn" class="sr-only">Buy</label>
            <input type="button" class="btn buy-sell-btn" id="buy-btn" value="Buy">

            <label for="sell-btn" class="sr-only">Sell</label>
            <input type="button" class="btn buy-sell-btn" id="sell-btn" value="Sell">

            <label for="ticker" class="sr-only">Ticker</label>
            <input type="text" id="ticker" class="text" placeholder="Ticker Symbol" required>

            <div hidden id="ticker-error"><small style="color:Red">Please enter a valid ticker symbol</small></div>

            <label for="share-amount" class="sr-only">Shares</label>
            <input type="number" id= "share-amount" class="text" step="0.001" placeholder="Number of Shares" required>
                        
            <div hidden id="share-amount-error"></div>

            <label for="share-price" class="sr-only">Price</label>
            <input type="number" id= "share-price" class="text" step="0.001" placeholder="Price per Share" required>
                        
            <div hidden id="share-price-error"></div>

            <label for="note" class="sr-only">Note</label>
            <input type="textarea" id="note" class="text" placeholder="Add a note..."><br>
                        
            <div hidden id="note-error"></div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Add</button>
            </div>

            <div hidden id="transaction-error"><small style="color:Red">Not enough owned stock</small></div>

            <div id="create-msg" hidden></div><br>
        </form>
    </div>
</div>
